<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitDemoTH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>681E8EA81D4B486700501DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681E8EBF1D4B486800501DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681E8ECA1D4B486800501DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
